<center><h2>Welcome.</h2></center>
<p>When people lose or find things at Yale, they typically post on Facebook.  But what if you aren’t in the same circles as the person who lost or found an item?  You could try email, but nobody likes spam.  
lost + found at Yale is platform that would allow all the students at Yale to</p>

<div class="pull-right">
	Built and designed by <a href="mailto:frank.j.wu@yale.edu">Frank Wu</a> and <a href="mailto:jonathan.chang@yale.edu">Jonathan Chang</a>
</div>