<h3> Our objective is to reunite items with their owners.</h3>
<p>People misplace things all the time. When you lose or find something at Yale what can you do?<br>  

	<ul>
		<li>try posting on Facebook</li>
		<li>try email</li>
	</ul> 

But you are limited by the inclusiveness of your social circles. And good luck asking for the right panlists, annoying people with spam, and sweating through sleepless nights.<br>
<b>Or... you could use Lost + Found @ Yale, the simplest, most worry-free option available.</b></p><br />

<center>
	Built and designed for the Yale Hackathon by <a href="mailto:frank.j.wu@yale.edu">Frank Wu</a> and <a href="mailto:jonathan.chang@yale.edu">Jonathan Chang</a>.</center>
<br />