<center><h2>Welcome.</h2></center>

<p> Our objective is to reunite items with their owners. <br> People misplace things all the time.  When you lose or find something at Yale what can you do? <br>  

	<ul>try posting on Facebook. </u>
	<ul> try email. </u> 

But you are limited by the inclusiveness of your social circles.  And good luck asking for the right panlists, annoying people with spam, and sweating through sleepless nights. <br>
Or you could use lost and found @ Yale.  The simplest, most worry-free option available.</p>

<div class="pull-right">
	Built and designed by <a href="mailto:frank.j.wu@yale.edu">Frank Wu</a> and <a href="mailto:jonathan.chang@yale.edu">Jonathan Chang</a>
</div>