<center><h3>Did you lose something recently? Did you find something lying around campus?</h3>
<p>You're in the right place... we help connect people to their items.</p>
<p>
  <%= link_to "Sign in with Yale CAS", new_lost_path, class: "btn btn-primary btn-large" %>
</p>
</center>