<center><h2>Thanks for using Lost + Found @ Yale.</h2>
By contributing to this service, you are helping to make Yale a friendlier place for the loser in all of us.  <br>
If you find this service to be cool or useful (no pun intended), we’d be happy to hear from you!<br><br>
We are <a href="mailto:frank.j.wu@yale.edu">Frank Wu</a> and <a href="mailto:jonathan.chang@yale.edu">Jonathan Chang</a>.
</p></center>