<p>Thanks for using lost + found @ Yale. <br>
By contributing to this service, you are helping Yale a friendlier place for the loser in each of us.  <br>
If you found this service to be cool or useful, we’d be happy to hear from you!
</p>