<p id="notice"><%= notice %></p>

<% @matches.each do |match| %>
	<b>Description</b><br />
		<%= match.desc %><br />
	<b>Date:</b><br />
		<%= match.date %><br />
	<b>Location:</b><br />
		<%= match.location %><br />
<% end %>
