<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="lafmenu"><%= link_to "about", about_path %></li>
    <li class="lafmenu"><%= link_to "lose something?", new_lost_path %></li>
    <li class="lafmenu"><%= link_to "found something?", new_found_path %></li>
  </ul>
 	<h2 class="laflogo"><%= link_to "lost + found @ Yale", start_path %></h2>
</div>