<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="lafmenu"><%= link_to "about", static_pages_about_path %></li>
    <li class="lafmenu"><%= link_to "your lost items", losts_path %></li>
    <li class="lafmenu"><%= link_to "your found items", founds_path %></li>
  </ul>
 	<h2 class="laflogo"><%= link_to "lost + found @ Yale", root_path %></h2>
</div>